<!DOCTYPE html>
<html lang="en">
<head>
	<title>石名的技术博客 | 石名的技术博客</title>
	<meta charset="utf-8" />
    <meta name="author" content="石名">
	<link rel="stylesheet" href="/theme/css/franticworld.css" type="text/css" />
	<link href="/theme/css/pygments.css" rel="stylesheet">
</head>
<body background="/theme/img/pattern.png">
		<div class="nav-banner">
		<a href="">石名的技术博客</a>
		</div>
		
		<div class="content">

<div class="metabox">
	<p class="metaday">220</p>
	<p class="metayear">2019</p>
	<p class="metacategory">技术</p>
</div>
<div class="arcticlecontentbox">
	<div class="articlecontent">
		<a class="articletitle" href="/2.html " >石名的技术博客</a>
		<p><strong>Django 基于vue和ajax的分页</strong></p>
<p><strong>1、基本工作原理：</strong>
前后端分离。</p>
<p>查询数据 --&gt; render 传递数据到前端，前后端绑定在了一起。</p>
<p>后端只负责返回数据</p>
<p>前端只负责数据的展示</p>
<p>前端渲染不再使用django的模板系统，而是使用vue框架。</p>
<p>设计模式：组建项目和代码结构的思路。</p>
<p>MVC</p>
<p>M models</p>
<p>V views</p>
<p>C control</p>
<p>MTV</p>
<p>M models</p>
<p>T templates</p>
<p>V views</p>
<p>MVVM</p>
<p>M models</p>
<p>V views</p>
<p>V views</p>
<p>M models</p>
<p>数据双向绑定</p>
<p>将数据（M）通过后端试图（V）传递到前端是试图模型(VM),然后进行数据绑定，当数据发送修 改，自动传递到试图当中</p>
<p><strong>1.编写返回数据的函数，以json的格式进行数据返回</strong></p>
<p>视图文件  urls.py</p>
<div class="highlight"><pre><span></span>def list_student(request):
    if request.method==&#39;GET&#39;:
        page=request.GET.get(&quot;page&quot;)
        page_size=request.GET.get(&quot;page_size&quot;)
        once_page=5
        if not page:
            page=1
        if not page_size:
            page_size=once_page
        page=int(page)
        page_size=int(page_size)
        s_n = page / once_page
        if page % once_page == 0:
            s_n = int(page / once_page)
            r_n = once_page
        else:
            s_n = int(page / once_page) + 1
            r_n = page % once_page
        total=Student.objects.all()#查询所有的数据
        select_start = (s_n - 1) * once_page*page_size
        select_end = s_n * once_page*page_size
        select_range = total[select_start:select_end]
        return_start = (r_n - 1) * page_size
        return_end = r_n * page_size
        return_range = select_range[return_start:return_end]
        if page &lt;= 3:
            page_range = [1, 2, 3, 4, 5]
        else:
            page_range = range(page - 2, page + 3)
        return_list=[]
        for data in return_range:
            if data.picture:
                pic=data.picture.url
            else:
                pic=&quot;None&quot;
            return_list.append({
                &quot;name&quot;:data.name,
                &quot;gender&quot;:data.gender,
                &quot;age&quot;:data.age,
                &quot;classes&quot;:data.classes,
                &quot;grade&quot;:data.grade,
                &quot;picture&quot;:pic,
            })
    result={&quot;data&quot;:return_list,&quot;page_range&quot;:&#39;,&#39;.join([str(i) for i in page_range])}
    return JsonResponse(result)
</pre></div>


<p><strong>2.编写返回页面的函数，将文章的列表页进行返回</strong></p>
<div class="highlight"><pre><span></span>def studentList(request):
    return render(request,&#39;student_v1.html&#39;,locals())
</pre></div>


<p><strong>3.使用ajax动态请求返回数据的函数的路由，获取数据</strong></p>
<p><strong>4.将数据使用vue进行绑定</strong></p>
<div class="highlight"><pre><span></span><span class="nt">&lt;script&gt;</span>
      $.ajax({
          url:&quot;/student_list/&quot;,
          type:&quot;get&quot;,
          data:&quot;&quot;,
          success:function(data){
              p_range=data[&quot;page_range&quot;].split(&quot;,&quot;);
              var vue=new Vue({
                  el:&quot;#bindData&quot;,
                  data:{
                      page_data:data[&quot;data&quot;],
                      page_range:p_range,
                  },
                  methods:{
                      reload:function(page){
                          alert(page)
                      }
                  }
              })
          },
          error:function(error){
              console.log(error)
          }
      })
  <span class="nt">&lt;/script&gt;</span>
</pre></div>


<p><strong>5.进行数据渲染</strong></p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">verbatim</span> <span class="nv">myblock</span> <span class="cp">%}</span>
              <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;bindData&quot;</span><span class="nt">&gt;</span>
                  <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">&quot;table table-bordered&quot;</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;thead&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                          <span class="nt">&lt;th&gt;</span>姓名<span class="nt">&lt;/th&gt;</span>
                          <span class="nt">&lt;th&gt;</span>性别<span class="nt">&lt;/th&gt;</span>
                          <span class="nt">&lt;th&gt;</span>年龄<span class="nt">&lt;/th&gt;</span>
                          <span class="nt">&lt;th&gt;</span>班级<span class="nt">&lt;/th&gt;</span>
                          <span class="nt">&lt;th&gt;</span>专业<span class="nt">&lt;/th&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                      <span class="nt">&lt;/thead&gt;</span>
                      <span class="nt">&lt;tbody&gt;</span>
                      <span class="nt">&lt;tr</span> <span class="na">v-for=</span><span class="s">&quot;s in page_data&quot;</span><span class="nt">&gt;</span>
                          <span class="nt">&lt;td&gt;</span><span class="cp">{{</span> <span class="nv">s.name</span> <span class="cp">}}</span><span class="nt">&lt;/td&gt;</span>
                          <span class="nt">&lt;td&gt;</span><span class="cp">{{</span> <span class="nv">s.gender</span> <span class="cp">}}</span><span class="nt">&lt;/td&gt;</span>
                          <span class="nt">&lt;td&gt;</span><span class="cp">{{</span> <span class="nv">s.age</span> <span class="cp">}}</span><span class="nt">&lt;/td&gt;</span>
                          <span class="nt">&lt;td&gt;</span><span class="cp">{{</span> <span class="nv">s.classes</span> <span class="cp">}}</span><span class="nt">&lt;/td&gt;</span>
                          <span class="nt">&lt;td&gt;</span><span class="cp">{{</span> <span class="nv">s.grade</span> <span class="cp">}}</span><span class="nt">&lt;/td&gt;</span>

                      <span class="nt">&lt;/tr&gt;</span>
                      <span class="nt">&lt;/tbody&gt;</span>
                  <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">&quot;pagination&quot;</span> <span class="na">style=</span><span class="s">&quot;float:right;&quot;</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;li</span> <span class="na">v-for=</span><span class="s">&quot;p in page_range&quot;</span> <span class="na">class=</span><span class="s">&quot;paginate_button page-item active&quot;</span><span class="nt">&gt;</span>
                          <span class="nt">&lt;a</span> <span class="na">v-on:click=</span><span class="s">&quot;reload&quot;</span> <span class="na">class=</span><span class="s">&quot;page-link&quot;</span><span class="nt">&gt;</span><span class="cp">{{</span> <span class="nv">p</span> <span class="cp">}}</span><span class="nt">&lt;/a&gt;</span>
                      <span class="nt">&lt;/li&gt;</span>
                  <span class="nt">&lt;/ul&gt;</span>
              <span class="nt">&lt;/div&gt;</span>
          <span class="cp">{%</span> <span class="k">endverbatim</span> <span class="nv">myblock</span> <span class="cp">%}</span>
</pre></div>


<p><strong>6.启动服务器</strong></p>
<div class="highlight"><pre><span></span>输入 http://127.0.0.1:8000/studentList/
</pre></div>
	</div>
	
	       
</div>

		</div>
		
		<div class="sidebar">
<div class="sidebarcategory">
<h4>Categories</h4>
	<li><a href="/category/ji-zhu.html">技术</a></li>
</div>

<div class="sidebarpages">
</div>

<div class="sidebarblogroll">
<h4>Blogroll</h4>
    <li><a href="http://getpelican.com/" target="_blank">Pelican</a></li>
    <li><a href="http://python.org/" target="_blank">Python.org</a></li>
    <li><a href="http://jinja.pocoo.org/" target="_blank">Jinja2</a></li>
    <li><a href="#" target="_blank">You can modify those links in your config file</a></li>
</div>

<div class="sidebarsocial">
<h4>Social</h4>
    <li><a href="#">You can add links in your config file</a></li>
    <li><a href="#">Another social link</a></li>
</div>		</div>
		
		<footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>,
				Theme by <a href="http://frantic1048.com/">Frantic1048</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>